* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

/* Add styles here! */

header {
  border-bottom: 5px solid rgb(99, 99, 99);
}
.max-width-wrapper {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.intro-chunk {
  max-width: 400px;
  padding: 16px;
  padding-top: 100px;
}
.title {
  margin-bottom: 40px;
  font-size: 1.5rem;
}
.intro-chunk p {
  max-width: 300px;
}
.intro-chunk strong {
  color: rgb(8, 158, 83);
}
/* /////////// */
main {
  background-color: hsl(150deg, 0%, 60%);
  height: 50%;
  padding-top: 10px;
}
main > .max-width-wrapper {
  background-color: white;
  border-bottom: 5px solid rgb(99, 99, 99);
}

.card {
  margin-top: 70px;
  padding: 24px;
  margin: -24px;

}
.indented-heading {
  font-size: 1.2rem;
  margin-left: -29px;
  background-color: rgb(245, 215, 42);
  width: fit-content;
  padding: 10px 20px;
  border-bottom: 5px solid rgb(175, 149, 32);
  margin-top: 8px;
}
.card p {
  width: fit-content;
}